.main {
   background-color: #e7e7e7;
   display: flex;
   flex-direction: column;
   padding: 5px;
   padding-top: 30px;
   box-sizing: border-box;
   height: 100%;
}

.input-container {
   display: inline-flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   max-width: 500px;
   margin-bottom: 8px;
}

@keyframes shakeAnimation {
   0%,
   100% {
      transform: translateX(0);
   }
   20% {
      transform: translateX(-8px);
   }
   40% {
      transform: translateX(8px);
   }
   60% {
      transform: translateX(-8px);
   }
   80% {
      transform: translateX(8px);
   }
}

.input-row {
   color: white;
   display: inline-flex;
   width: 100%;
}

.input-row.shake {
   animation: shakeAnimation 0.3s ease;
}

.input-row label {
   font-size: 30px;
}

.letter-container {
   padding: 2px;
   /* margin: 3px; */

   width: 20%;
   min-height: 40px;
   padding: 3px;
}

.letter {
   background-color: grey;

   margin: auto;
   /* margin: 3px; */

   /* width: 20%; */
   display: flex;
   min-height: 50px;
   border: 3px solid lightblue;
   border-radius: 7px;
}

@keyframes scaleUpDown {
   0%,
   100% {
      transform: scale(1); /* Original size */
   }
   50% {
      transform: scale(1.14); /* Scaled up size */
   }
}

.letter.filled {
   animation: scaleUpDown 0.12s ease-in-out;
   border-color: #555555;
}

.letter label {
   color: white;
   font-weight: bold;
   margin: auto;
   font-size: 32px;
   line-height: 20px;
   text-transform: uppercase;
}

.letter.default {
   background-color: lightcyan;
}

.letter.current {
   background-color: white;
}
.letter.current label {
   color: black;
}

.letter.incorrect {
   background-color: red;
}

.letter.partial {
   background-color: orange;
}

.letter.correct {
   background-color: green;
}

.title {
   color: white;
}

h4 {
   color: yellow;
}

.inputWrapper {
   display: inline-flex;
   position: relative;
}
.message {
   color: white;
   background-color: black;
   padding: 7px;
   position: absolute;
   top: 0px;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 4px;
}

.keyboardWrapper {
   margin-top: auto;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   max-width: 500px;
   font-size: 22px;
}
