.header {
   background-color: var(--header-bg-color);
   padding: 14px;
}

.inner {
   display: flex;
   max-width: 900px;
   margin-left: auto;
   margin-right: auto;
}

.logo {
   margin: 0px;
   padding: 0px;
   margin-top: auto;
   margin-bottom: auto;
   color: white;
   margin-left: 5px;
}

.logo img {
   margin: 0px;
   padding: 0px;
   height: 34px;
   display: inline-block;
   vertical-align: bottom;
}

.buttons {
   margin-left: auto;
   display: flex;
}

.buttons button {
   margin-left: 10px;
}

.hint {
   color: white;
   margin-left: 10px;
   margin-top: auto;
   margin-bottom: auto;
}

@media only screen and (max-width: 480px) {
   .header {
      padding: 6px;
   }

   .logo img {
      height: 30px;
   }
   /* CSS rules here */
}
