.container {
   width: 100%;
   height: 100%;
   padding: 20px;
   box-sizing: border-box;
   position: relative;
   display: flex;
   flex-direction: column;
}

.header {
   display: flex;
}

.header button {
   margin-left: auto;
}

.title {
   background-color: white;
   position: absolute;
   bottom: 50%;
   left: 50%;
   transform: translateX(-50%);
   padding: 14px 34px;
   border-radius: 42px;
   color: var(--text-color-dark);
}

.title h1 {
   padding: 0;
   margin: 0;
   font-size: 56px;
   line-height: 56px;
   font-weight: 800;
   white-space: nowrap;
}

@media screen and (max-width: 480px) {
   .title {
      padding: 10px 24px;
   }
   .title h1 {
      font-size: 38px;
      line-height: 38px;
   }
}

.footer {
   height: 17vh;
   margin-top: auto;
}

.buttonsWrapper {
   display: flex;
}
.buttonsWrapper .buttons {
   display: flex;
   margin: 0 auto;
}
