.keyboard {
   color: white;
   user-select: none;
   width: 100%;
}

.keyRow {
   display: flex;

   max-width: 520px;
   margin-bottom: 8px;

   vertical-align: baseline;
   touch-action: manipulation;
}

.spacer {
   flex: 0.5;
}

.key {
   flex: 1;
   font-size: 1.25em;
   font-weight: 500;
   border: 0;
   padding: 0;
   margin: 0 7px 0 0;
   height: 58px;
   border-radius: 4px;
   cursor: pointer;

   -webkit-user-select: none;
   user-select: none;

   background-color: var(--keyboard-key-color);
   color: var(--text-color-light);
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
}

.key:last-of-type {
   margin-right: 0px !important;
}

.key img {
   width: 75%;
   min-width: 34px;
}

.key.correct {
   background-color: var(--correct-color);
   color: var(--text-color-dark);
}

.key.incorrect {
   background-color: var(--incorrect-color);
   color: var(--text-color-dark);
}

.key.partial {
   background-color: var(--partial-correct-color);
   color: var(--text-color-dark);
}

.key:last-of-type {
   margin: 0;
}

.key.large {
   font-size: 13px;
   flex: 1.5;
}

:global(.short-inner-view) .key {
   height: 44px;
   font-size: 14px;
   margin: 0 5px 0 0;

   &.enterKey {
      font-size: 12px;
   }
}

:global(.shorter-inner-view) .key {
   height: 36px;
   font-size: 13px;
   margin: 0 3px 0 0;

   &.enterKey {
      font-size: 11px;
   }
}

:global(.short-inner-view) .keyRow {
   margin-bottom: 6px;
}

:global(.shorter-inner-view) .keyRow {
   margin-bottom: 4px;
}

/* @media screen and (max-height: 500px) {
   .key {
      height: 40px;
      font-size: 14px;
   }

   .key.enterKey {
      font-size: 12px;
   }
} */
