.root {
   background-color: var(--header-bg-color);
   display: flex;
   flex-direction: column;
   height: 100%;
   font-family: "Roboto Slab", serif;
}

.container {
   color: white;
   margin: auto;
   display: flex;
   background-color: black;
   width: 90%;
   max-width: 480px;
   flex-direction: column;
}

.container h1 {
   margin-left: auto;
   margin-right: auto;
   font-size: 38px;
   text-align: center;
}

.statRow {
   display: flex;
}

.statBox {
   margin: 0 auto;
   text-align: center;
   width: 70px;
}

.statBox .value {
   font-size: 50px;
   font-weight: bold;
}

.distribution {
   display: flex;
   flex-direction: column;
}

.bar {
   display: flex;
   background-color: red;
}
.root img {
   width: 86%;
   max-width: 440px;
   margin: auto;
}
