.root {
   display: flex;
   flex-direction: column;
   height: 100%;
   font-family: "Roboto Slab", serif;
}

.container {
   color: white;
   margin: 0px auto auto auto;
   display: flex;
   width: 90%;
   max-width: 520px;
   flex-direction: column;
   height: 100%;
}

.top {
   display: flex;
   flex-direction: column;
   height: 50%;
   max-height: 400px;
   padding-bottom: 20px;

   flex-shrink: 0;
}

.bottom {
   display: flex;
   flex-direction: column;
   flex-grow: 1;

   max-height: 500px;
   padding-bottom: 20px;
}

.container h1 {
   margin: 0;
   font-size: 38px;
   text-align: center;
}

.container h2 {
   margin-top: 5px;
   margin-bottom: 2px;
   margin-left: 0px;

   font-size: 25px;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
}

.statRow {
   flex-shrink: 1;
   margin-top: auto;
   margin-bottom: auto;
   height: 35%;
   display: flex;
}

.statGrid {
   flex-grow: 1;
   position: relative;

   width: 100%;
}

.statBox {
   position: absolute;
   margin: 0 auto;
   text-align: center;
   width: 45%;
}

.statBox.top-left {
   top: 10%;
   left: 25%;
   transform: translateX(-50%);
}
.statBox.top-right {
   top: 10%;
   left: 75%;
   transform: translateX(-50%);
}
.statBox.bottom-left {
   left: 25%;
   top: 55%;
   transform: translateX(-50%);
}
.statBox.bottom-right {
   left: 75%;
   top: 55%;
   transform: translateX(-50%);
}

.statBox .value {
   font-size: 70px;
   line-height: 70px;
   font-weight: bold;
}

.statBox .label {
   font-size: 20px;
   font-family: "Open Sans", sans-serif;
}

.distribution {
   flex-grow: 1;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.barItem {
   width: 13%;
   max-width: 100px;
   display: flex;
   flex-direction: column;
   height: 100%;
}

.barLabelContainer {
   margin-top: 4px;
   margin-bottom: 4px;
   display: flex;
}

.barLabel {
   margin: auto;
   font-size: 18px;
}

.barRectContainer {
   flex: 1;
   display: flex;
}

.rectangle {
   position: relative;
   background-color: #c2c2c2;
   width: 100%;
   /* display: inline-flex; */
   margin-top: auto;
   border-radius: 60px;
}

.rectangle.highlight {
   background-color: var(--correct-color);
}

.digit {
   font-size: 26px;
   line-height: 26px;
   opacity: 0;
   transition: all 0.3s;
   user-select: none;
   display: inline-block;
   left: 50%;
   transform: translate(-50%, 50%);
   position: absolute;
}

.rectangleValueInside {
   margin: auto auto auto auto;
   color: var(--text-color-dark);
   font-weight: bold;
}

.rectangleValueOutside {
   position: absolute;
   left: calc(100% + 10px);

   color: white;
}

.opacity1 {
   opacity: 1;
}

.root img {
   width: 86%;
   max-width: 440px;
   margin: auto;
}

@media screen and (max-height: 700px) {
   .container h1 {
      font-size: 30px;
   }

   .container h2 {
      font-size: 20px;
   }

   .statBox .value {
      font-size: 40px;
      line-height: 40px;
   }

   .statBox .label {
      font-size: 16px;
   }

   .barLabel {
      font-size: 14px;
   }

   .digit {
      font-size: 20px;
      line-height: 20px;
   }

   .rectangleValueInside {
      font-size: 16px;
   }

   .rectangleValueOutside {
      font-size: 16px;
   }
}
@media screen and (max-width: 450px) {
   .container h1 {
      font-size: 20px;
   }
   .container h2 {
      font-size: 16px;
   }
}
